{
  "config":{
    "hostname": "http://example.com",
    "port": 3000
  },
  "prestidigitation": {
    "tracking": {
      "host": "example.com",
      "protocol": "https",
      "port": 443,
      "sslCaCert": "/path/to/ca/cert.pem",
      "sslClientCert": "/path/to/cert.pem",
      "sslClientKey": "/path/to/client.key"
    },
    "sc": {
      "url": "https://example.com",
      "sslCaCert": "/path/to/ca/cert.pem",
      "sslClientCert": "/path/to/cert.pem",
      "sslClientKey": "/path/to/client.key"
    },
    "ci": {
      "host": "example.com",
      "protocol": "https",
      "port": 443,
      "sslEnabled": true,
      "sslCaCert": "/path/to/ca/cert.pem",
      "sslClientCert": "/path/to/cert.pem",
      "sslClientKey": "/path/to/client.key",
      "passphrase": "keep it secret"
    }
  }
}
