{
  "prestidigitation": {
    "tracking": {
      "host": "example.com",
      "apiKey": "abcd1234",
      "protocol": "https",
      "port": 443,
      "sslCaCert": "/path/to/ca/cert.pem",
      "sslClientCert": "/path/to/cert.pem",
      "sslClientKey": "/path/to/client.key"
    },
    "sc": {
      "url": "https://example.com",
    },
    "ci": {
      "url": "https://example.com"
    }
  }
}
