{
  "prestidigitation": {
    "tracking": {
      "log_lvl": "info",
      "host": "example.com",
      "protocol": "https",
      "port": 443,
      "sslCaCert": "/path/to/ca/cert.pem",
      "sslClientCert": "/path/to/cert.pem",
      "sslClientKey": "/path/to/client.key"
    },
    "ci": {
      "log_lvl": "info",
      "host": "example.com",
      "protocol": "https",
      "port": 443,
      "sslEnabled": true,
      "sslCaCert": "/path/to/ca/cert.pem",
      "sslClientCert": "/path/to/cert.pem",
      "sslClientKey": "/path/to/client.key",
      "passphrase": "keep it secret"
    }
  }
}
